<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
  <h1>Welcome to QuotingDojo</h1>
  <% for ( i in errors ){ %>
  <p><%= errors[i] %></p>
  <% } %>
  <form action="/quotes" method="post">
    <label>Your Name:</label>
    <input type="text" name="name"> 
    <br>
    <label>Your Quote:</label>
    <textarea name="quote"></textarea>
    <input type="submit" value="Add my quote!">
  </form>
</body>
</html>
